body {
  user-select: none;
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
}

h2 {
  font-family: sans-serif;
  background-color: rgb(156, 156, 156);
  width: 250px;
  border: 1px solid black;
  margin: 20px auto 0 auto;
}

button {
  font-family: sans-serif;
  border: 1px solid black;
  width: 35px;
  height: 35px;
  margin-bottom: 3px;
  cursor: pointer;
  margin: 1px;
}

button:hover {
  background-color: rgb(230, 230, 230)
}

button:active {
  background-color: rgb(211, 211, 211)
}

#result {
  word-break: break-all;
}

#content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

#calculator {
  background-color: rgb(156, 156, 156);
  width: 250px;
  border: 1px solid black;
  height: max-content;
  padding: 20px 0;
  margin: 0 auto;
  border-top: none;
}